body {
    text-align: center;
}

h1 {
    font-family: cursive;
}

.game {
    background-color: beige;
    display: inline-block;
}

.sudoku-row {
    display: flex;
    flex-direction: row;
}

.sudoku-block {
    width: 50px;
    height: 50px;
    border: 0.5px solid;
    margin: 2px;
    background-color: aliceblue;
}

.number {
    font-size: 42px;
}

.border {
    border: 3px solid red;
}
