body {
    text-align: center;
}

h1 {
    font-family: cursive;
}

.game {
    background-color: beige;
    display: inline-block;
}

.sudoku-row {
    display: flex;
    flex-direction: row;
}

.sudoku-block {
    width: 50px;
    height: 50px;
    border: 0.4px solid;
    margin: 0.5px;
    background-color: aliceblue;
}

.number {
    font-size: 42px;
    color: black;
}

.user-input {
    color: darkcyan;
    font-size: 42px;
}

.options {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
