body {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: cursive;
}

.game {
    background-color: beige;
    display: inline-block;
}

.sudoku-row {
    display: flex;
    flex-direction: row;
}

.sudoku-block {
    width: 50px;
    height: 50px;
    border: 0.4px solid;
    margin: 0.5px;
    background-color: aliceblue;
}

.number {
    font-size: 42px;
    color: black;
    font-family: Cambria;
}

.user-input {
    color: darkcyan;
    font-size: 42px;
    font-family: Cambria;
}

.error-input {
    color: red;
    font-size: 42px;
    font-family: Cambria;
}

.options {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.options-dialog {
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options-dialog-close {
    right: 15px;
    top: 15px;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

button {
    outline: none;
}

.game-option {
   margin: 10px;
   width: 100%;
   height: 40px;
   display: block;
   text-align-last: center;
   font-size: 16px;
   border: 3px slategray solid;
   font-family: cursive;
   background-color: aliceblue;
}

.hide {
    display: none;
}

.bugs {
    position: absolute;
    bottom: 0;
    right: 0;
}